

h1 + img {
    width: 150px;
}

#figure-data-model-ehri-portal {
    text-align: center;
}

#figure-ontology-diagram {
    text-align: center;
}

#figure-ontology-diagram img {
    max-width: 100%;
}